.Contact{
    /* background-color: antiquewhite; */
    overflow-y: auto;
    padding-bottom: 10px;
    height: 800px;
    top:100px;
    overflow: hidden;
    overflow-y: auto;
}
.form{
    width: 100%;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    overflow-y: auto;
    gap:10px;
}

.info1{
    width: 100%;
    min-height: 300px;
    background-color: rgb(32, 32, 32);
    margin-left: 7%;
}
.form input {
    padding: 10px;
    width:80% ;
    border-radius:20px;
    border: none;
    outline: none;
    color:white;
    background-color:gray;
    box-shadow: 0px 0px 13px white;
}
.form textarea {
    min-width:80% ;
    max-width:80% ;
    min-height:120px;
    padding: 10px;
    border-radius:20px;
    border: none;
    outline: none;
    color:white;
    background-color:gray;
    box-shadow: 0px 0px 13px white;
}
::placeholder{
    color:rgb(169, 181, 184); 
}
.form button {
    font-size:20px ;
    padding:  2px 40px ;
    border-radius: 20px ;
    box-shadow: 0px 0px 13px white;
    border:none;
    background:transparent;
    color:white;
    transition: border-color 2s;
    cursor: pointer;
}
.fa-paper-plane{
    position: relative;
    left:38px;
    padding: 6px 9px;
    border-radius:50%;
    transition: background-color 2s;
}
.info1 h2{
    width: 100%;
    text-align: center;
    color:white;
    height: 40px;
    padding:10px ;
}
.text{
    padding: 0 10px;
    color:white;
}
.Contact-Me{
    width: 100%;
    /* top: -50px; */
    text-align: right;
    padding-right: 30%;
    position: absolute;
    font-size: 40px;
    color:white;
    display: none;
}
.icons{
   
    width: 80%;
    color:gainsboro;
    display: flex;
    justify-content: space-around;
    font-size:30px;
    margin: 0 auto;
    /* background-color: aqua; */
}
.pi{
    margin: 5px 0;
    width: 100%;
    color:white;
    
    /* background-color: cadetblue; */
    text-align: center;
}
.pi i{
    font-size: 30px;
    color:white;
}
@media (max-width:425px) 
{
    .form{
        height: 80%;
        top:0
    }
    .info1{
        height: 100%;
        margin-left: 0;
    }
    .Contact{
       top:-120px;
        height: 400px;
    }
   
}

@media (min-width:620px) 
{
    .Contact{
        display: flex;
        flex-direction: row-reverse ;
        justify-content:center;
    
    }
    .form{
        width: 50%;
        height: 80%;
        /* background-color: aqua; */
        margin: 40px 0 ;
    }
    .form textarea{
            height: 300px;
    }
  
    .info1{
        width: 40%;
        height: 80%;
        
       
    }

}
@media (min-width: 1023px) {

    /* .More {
        position: absolute;
        width: 190vh;
        left: 0;
    } */
    .Contact{
        /* background-color: aqua; */
        align-items: center;
        margin: 0 auto;
    }

    .form{
        /* background-color: antiquewhite; */
        height: 70%;
        width: 70%;
        justify-content: flex-end;
        padding-right: 10px;
    }
    .form input{
        width: 90%;
        font-size:20px;
    }
    .form textarea{
     min-width: 90%;
     font-size:20px;
     }
    .info1{
        width: 25%;
        height: 80%;
        padding: 30px;

    }
}